<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper indigo darken-4 white-text">
            <a href="#" class="brand-logo right">FeedBuzz!</a>
            <ul id="nave-mobile" class="left hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <li><a href="/saved">Saved Articles</a></li>

            </ul>
        </div>
    </nav>
</div>
<div class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br>
            <br>
            <img src="images/buzz.png" alt="buzz" id="buzz">
            <br>
            <br>
        </div>
    </div>
    <div class="parallax"><img src="images/honecomb.jpg"></div>
</div>
<div class="container">
    {{#each article}}
    <div class="row">
        <div class="col s12 m12">
            <div id={{this._id}} class="card">
                <nav>
                    <div class="nav-wrapper valign-wrapper center-align indigo darken-4 white-text cardTitle">
                        <h2 class="card-title " href={{this.link}}>{{this.title}}</h2>
                    </div>
                </nav>
                <div class="card-content">
                    <p>{{this.byline}}</p>
                    <a class="waves-effect waves-light btn amber right" id="remove" data-id={{this._id}}>Remove From Saved</a>
                    <!-- Modal Trigger -->
                    <button data-target="modal1" class="btn modal-trigger waves-effect waves-light btn amber right" id="note" data-id={{this._id}}>Article
                        Notes
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Structure -->
    <div id="modal1" class="modal bottom-sheet">
        <div class="modal-content">
            <h4>{{this.title}}</h4>
            <p>{{this.notes}}</p>
        </div>
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="articleNote" class="materialize-textarea"></textarea>
                        <label for="articleNote">Notes</label>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat" id="saveNote" data-id={{this._id}}>Save</a>
        </div>
    </div>
    {{/each}}
</div>